	<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
	  <ul class="nav nav-pills nav-stacked">
		<li><a href='/'>Home</a></li>
		<li><a href='/polls/'>Polls</a></li>
		<li><a href='/my_sci/'>Sci Calc</a></li>
		<li><a href='/my_ml/'>Machine Learning</a></li>
		<li><a href='/my_img/'>Image Processing</a></li>
		<li><a href='/my_3d/'>3D graphics</a></li>
		<li><a href='/my_fin/'>Finance</a></li>
		<li><a href='/my_crm/'>CRM</a></li>
		<li><a href='/my_bank/'>Bank</a></li>
		<li><a href='/my_hel/'>Health</a></li>
		<li><a href='/my_edu/'>Education</a></li>

		<li><a href='/my_contact/'>Contact</a></li>
	  </ul>
	</div> <!--well bs-sidebar affix-->
